<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img class="img-fluid rounded b-shadow-a aboutImageInsert" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p>
                                            <span class="title-s">Name:</span> 
                                            <span class="aboutNameInsert"></span>
                                        </p>
                                        <p>
                                            <span class="title-s">Profession:</span> 
                                            <span class="aboutProfessionInsert"></span>
                                        </p>
                                        <p>
                                            <span class="title-s">Email:</span> 
                                            <span class="aboutEmailInsert"></span>
                                        </p>
                                        <p>
                                            <span class="title-s">Phone:</span> 
                                            <span class="aboutPhoneInsert"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Skills - <small>10yr span</small></p>
                                <div class="aboutSkillsInsert"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <div class="aboutBioInsert"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>