<div class="container-fluid">
    <button class="btn btn-primary btn-sm" onclick="addService()">Add Service</button>
    <div class="row servicesInjection d-flex justify-content-center mt-2"></div>
</div>