<section id="projects" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        Some of my projects from school, work and personal interests
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center projectsInsert"></div>
    </div>
</section>