<div class="container-fluid">
    <div class="container mx-auto">
        <button class="btn btn-primary btn-sm" onclick="onCreateProject()">Add Project</button>
    </div>
    <div class="container-fluid projectsInsert"></div>
</div>