<div class="container-fluid">
    <button class="btn btn-primary btn-sm" onclick="addTestimonial()">Add Testimonial</button>
    <div class="row testimonialInjection d-flex justify-content-center mt-2"></div>
</div>